// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../BaseClient.js";
import * as core from "../../../../core/index.js";
import { mergeHeaders } from "../../../../core/headers.js";
import { toJson } from "../../../../core/json.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as MyAccount from "../../../index.js";
import { ConnectionsClient } from "../resources/connections/client/Client.js";

export declare namespace ConnectedAccountsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class ConnectedAccountsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ConnectedAccountsClient.Options>;
    protected _connections: ConnectionsClient | undefined;

    constructor(options: ConnectedAccountsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get connections(): ConnectionsClient {
        return (this._connections ??= new ConnectionsClient(this._options));
    }

    /**
     * Start an authorization flow to link the authenticated user's account with an external identity provider.
     *
     * @param {MyAccount.CreateConnectedAccountsRequestContent} request
     * @param {ConnectedAccountsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link MyAccount.BadRequestError}
     * @throws {@link MyAccount.UnauthorizedError}
     * @throws {@link MyAccount.ForbiddenError}
     * @throws {@link MyAccount.UnsupportedMediaTypeError}
     * @throws {@link MyAccount.TooManyRequestsError}
     *
     * @example
     *     await client.connectedAccounts.create({
     *         connection: "connection",
     *         redirect_uri: "redirect_uri"
     *     })
     */
    public create(
        request: MyAccount.CreateConnectedAccountsRequestContent,
        requestOptions?: ConnectedAccountsClient.RequestOptions,
    ): core.HttpResponsePromise<MyAccount.CreateConnectedAccountsResponseContent> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: MyAccount.CreateConnectedAccountsRequestContent,
        requestOptions?: ConnectedAccountsClient.RequestOptions,
    ): Promise<core.WithRawResponse<MyAccount.CreateConnectedAccountsResponseContent>> {
        const _metadata: core.EndpointMetadata = { security: [{ "Bearer-DPoP": ["create:me:connected_accounts"] }] };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest({
            endpointMetadata: _metadata,
        });
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.MyAccountEnvironment.Default,
                "connected-accounts/connect",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            endpointMetadata: _metadata,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as MyAccount.CreateConnectedAccountsResponseContent,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new MyAccount.BadRequestError(
                        _response.error.body as MyAccount.ErrorResponse,
                        _response.rawResponse,
                    );
                case 401:
                    throw new MyAccount.UnauthorizedError(
                        _response.error.body as MyAccount.ErrorResponse,
                        _response.rawResponse,
                    );
                case 403:
                    throw new MyAccount.ForbiddenError(
                        _response.error.body as MyAccount.ErrorResponse,
                        _response.rawResponse,
                    );
                case 415:
                    throw new MyAccount.UnsupportedMediaTypeError(
                        _response.error.body as MyAccount.ErrorResponse,
                        _response.rawResponse,
                    );
                case 429:
                    throw new MyAccount.TooManyRequestsError(
                        _response.error.body as MyAccount.ErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.MyAccountError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/connected-accounts/connect");
    }

    /**
     * Complete a previously started authorization flow to link the authenticated user's account with an external identity provider.
     *
     * @param {MyAccount.CompleteConnectedAccountsRequestContent} request
     * @param {ConnectedAccountsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link MyAccount.BadRequestError}
     * @throws {@link MyAccount.UnauthorizedError}
     * @throws {@link MyAccount.ForbiddenError}
     * @throws {@link MyAccount.UnsupportedMediaTypeError}
     * @throws {@link MyAccount.TooManyRequestsError}
     *
     * @example
     *     await client.connectedAccounts.complete({
     *         auth_session: "auth_session",
     *         connect_code: "connect_code",
     *         redirect_uri: "redirect_uri"
     *     })
     */
    public complete(
        request: MyAccount.CompleteConnectedAccountsRequestContent,
        requestOptions?: ConnectedAccountsClient.RequestOptions,
    ): core.HttpResponsePromise<MyAccount.CompleteConnectedAccountsResponseContent> {
        return core.HttpResponsePromise.fromPromise(this.__complete(request, requestOptions));
    }

    private async __complete(
        request: MyAccount.CompleteConnectedAccountsRequestContent,
        requestOptions?: ConnectedAccountsClient.RequestOptions,
    ): Promise<core.WithRawResponse<MyAccount.CompleteConnectedAccountsResponseContent>> {
        const _metadata: core.EndpointMetadata = { security: [{ "Bearer-DPoP": ["create:me:connected_accounts"] }] };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest({
            endpointMetadata: _metadata,
        });
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.MyAccountEnvironment.Default,
                "connected-accounts/complete",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            endpointMetadata: _metadata,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as MyAccount.CompleteConnectedAccountsResponseContent,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new MyAccount.BadRequestError(
                        _response.error.body as MyAccount.ErrorResponse,
                        _response.rawResponse,
                    );
                case 401:
                    throw new MyAccount.UnauthorizedError(
                        _response.error.body as MyAccount.ErrorResponse,
                        _response.rawResponse,
                    );
                case 403:
                    throw new MyAccount.ForbiddenError(
                        _response.error.body as MyAccount.ErrorResponse,
                        _response.rawResponse,
                    );
                case 415:
                    throw new MyAccount.UnsupportedMediaTypeError(
                        _response.error.body as MyAccount.ErrorResponse,
                        _response.rawResponse,
                    );
                case 429:
                    throw new MyAccount.TooManyRequestsError(
                        _response.error.body as MyAccount.ErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.MyAccountError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/connected-accounts/complete");
    }

    /**
     * Retrieve connected accounts belonging to the authenticated user.
     *
     * @param {MyAccount.ListConnectedAccountsRequestParameters} request
     * @param {ConnectedAccountsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link MyAccount.BadRequestError}
     * @throws {@link MyAccount.UnauthorizedError}
     * @throws {@link MyAccount.ForbiddenError}
     * @throws {@link MyAccount.TooManyRequestsError}
     *
     * @example
     *     await client.connectedAccounts.list({
     *         connection: "connection",
     *         from: "from",
     *         take: 1
     *     })
     */
    public async list(
        request: MyAccount.ListConnectedAccountsRequestParameters = {},
        requestOptions?: ConnectedAccountsClient.RequestOptions,
    ): Promise<core.Page<MyAccount.ConnectedAccount, MyAccount.ListConnectedAccountsResponseContent>> {
        const list = core.HttpResponsePromise.interceptFunction(
            async (
                request: MyAccount.ListConnectedAccountsRequestParameters,
            ): Promise<core.WithRawResponse<MyAccount.ListConnectedAccountsResponseContent>> => {
                const _metadata: core.EndpointMetadata = {
                    security: [{ "Bearer-DPoP": ["read:me:connected_accounts"] }],
                };
                const { connection, from: from_, take = 10 } = request;
                const _queryParams: Record<string, unknown> = {
                    connection:
                        connection !== undefined
                            ? typeof connection === "string"
                                ? connection
                                : toJson(connection)
                            : undefined,
                    from: from_,
                    take,
                };
                const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest({
                    endpointMetadata: _metadata,
                });
                let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
                    _authRequest.headers,
                    this._options?.headers,
                    requestOptions?.headers,
                );
                const _response = await (this._options.fetcher ?? core.fetcher)({
                    url: core.url.join(
                        (await core.Supplier.get(this._options.baseUrl)) ??
                            (await core.Supplier.get(this._options.environment)) ??
                            environments.MyAccountEnvironment.Default,
                        "connected-accounts/accounts",
                    ),
                    method: "GET",
                    headers: _headers,
                    queryString: core.url
                        .queryBuilder()
                        .addMany(_queryParams)
                        .mergeAdditional(requestOptions?.queryParams)
                        .build(),
                    timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
                    maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
                    abortSignal: requestOptions?.abortSignal,
                    endpointMetadata: _metadata,
                    fetchFn: this._options?.fetch,
                    logging: this._options.logging,
                });
                if (_response.ok) {
                    return {
                        data: _response.body as MyAccount.ListConnectedAccountsResponseContent,
                        rawResponse: _response.rawResponse,
                    };
                }
                if (_response.error.reason === "status-code") {
                    switch (_response.error.statusCode) {
                        case 400:
                            throw new MyAccount.BadRequestError(
                                _response.error.body as MyAccount.ErrorResponse,
                                _response.rawResponse,
                            );
                        case 401:
                            throw new MyAccount.UnauthorizedError(
                                _response.error.body as MyAccount.ErrorResponse,
                                _response.rawResponse,
                            );
                        case 403:
                            throw new MyAccount.ForbiddenError(
                                _response.error.body as MyAccount.ErrorResponse,
                                _response.rawResponse,
                            );
                        case 429:
                            throw new MyAccount.TooManyRequestsError(
                                _response.error.body as MyAccount.ErrorResponse,
                                _response.rawResponse,
                            );
                        default:
                            throw new errors.MyAccountError({
                                statusCode: _response.error.statusCode,
                                body: _response.error.body,
                                rawResponse: _response.rawResponse,
                            });
                    }
                }
                return handleNonStatusCodeError(
                    _response.error,
                    _response.rawResponse,
                    "GET",
                    "/connected-accounts/accounts",
                );
            },
        );
        const dataWithRawResponse = await list(request).withRawResponse();
        return new core.Page<MyAccount.ConnectedAccount, MyAccount.ListConnectedAccountsResponseContent>({
            response: dataWithRawResponse.data,
            rawResponse: dataWithRawResponse.rawResponse,
            hasNextPage: (response) =>
                response?.next != null && !(typeof response?.next === "string" && response?.next === ""),
            getItems: (response) => response?.accounts ?? [],
            loadPage: (response) => {
                return list(core.setObjectProperty(request, "from", response?.next));
            },
        });
    }

    /**
     * Delete a connected account belonging to the authenticated user.
     *
     * @param {MyAccount.ConnectedAccountId} id - The unique identifier of the connected account
     * @param {ConnectedAccountsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link MyAccount.BadRequestError}
     * @throws {@link MyAccount.UnauthorizedError}
     * @throws {@link MyAccount.ForbiddenError}
     * @throws {@link MyAccount.TooManyRequestsError}
     *
     * @example
     *     await client.connectedAccounts.delete("id")
     */
    public delete(
        id: MyAccount.ConnectedAccountId,
        requestOptions?: ConnectedAccountsClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__delete(id, requestOptions));
    }

    private async __delete(
        id: MyAccount.ConnectedAccountId,
        requestOptions?: ConnectedAccountsClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const _metadata: core.EndpointMetadata = { security: [{ "Bearer-DPoP": ["delete:me:connected_accounts"] }] };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest({
            endpointMetadata: _metadata,
        });
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.MyAccountEnvironment.Default,
                `connected-accounts/accounts/${core.url.encodePathParam(id)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            endpointMetadata: _metadata,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new MyAccount.BadRequestError(
                        _response.error.body as MyAccount.ErrorResponse,
                        _response.rawResponse,
                    );
                case 401:
                    throw new MyAccount.UnauthorizedError(
                        _response.error.body as MyAccount.ErrorResponse,
                        _response.rawResponse,
                    );
                case 403:
                    throw new MyAccount.ForbiddenError(
                        _response.error.body as MyAccount.ErrorResponse,
                        _response.rawResponse,
                    );
                case 429:
                    throw new MyAccount.TooManyRequestsError(
                        _response.error.body as MyAccount.ErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.MyAccountError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/connected-accounts/accounts/{id}",
        );
    }
}
