// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import * as core from "../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import * as MyAccount from "../../../../../index.js";

export declare namespace ConnectionsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class ConnectionsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ConnectionsClient.Options>;

    constructor(options: ConnectionsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Retrieve available connections that can be used for account linking by the authenticated user.
     *
     * @param {MyAccount.ListConnectedAccountsConnectionsRequestParameters} request
     * @param {ConnectionsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link MyAccount.BadRequestError}
     * @throws {@link MyAccount.UnauthorizedError}
     * @throws {@link MyAccount.ForbiddenError}
     * @throws {@link MyAccount.TooManyRequestsError}
     *
     * @example
     *     await client.connectedAccounts.connections.list({
     *         from: "from",
     *         take: 1
     *     })
     */
    public async list(
        request: MyAccount.ListConnectedAccountsConnectionsRequestParameters = {},
        requestOptions?: ConnectionsClient.RequestOptions,
    ): Promise<
        core.Page<MyAccount.ConnectedAccountConnection, MyAccount.ListConnectedAccountsConnectionsResponseContent>
    > {
        const list = core.HttpResponsePromise.interceptFunction(
            async (
                request: MyAccount.ListConnectedAccountsConnectionsRequestParameters,
            ): Promise<core.WithRawResponse<MyAccount.ListConnectedAccountsConnectionsResponseContent>> => {
                const _metadata: core.EndpointMetadata = {
                    security: [{ "Bearer-DPoP": ["read:me:connected_accounts"] }],
                };
                const { from: from_, take = 10 } = request;
                const _queryParams: Record<string, unknown> = {
                    from: from_,
                    take,
                };
                const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest({
                    endpointMetadata: _metadata,
                });
                let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
                    _authRequest.headers,
                    this._options?.headers,
                    requestOptions?.headers,
                );
                const _response = await (this._options.fetcher ?? core.fetcher)({
                    url: core.url.join(
                        (await core.Supplier.get(this._options.baseUrl)) ??
                            (await core.Supplier.get(this._options.environment)) ??
                            environments.MyAccountEnvironment.Default,
                        "connected-accounts/connections",
                    ),
                    method: "GET",
                    headers: _headers,
                    queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
                    timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
                    maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
                    abortSignal: requestOptions?.abortSignal,
                    endpointMetadata: _metadata,
                    fetchFn: this._options?.fetch,
                    logging: this._options.logging,
                });
                if (_response.ok) {
                    return {
                        data: _response.body as MyAccount.ListConnectedAccountsConnectionsResponseContent,
                        rawResponse: _response.rawResponse,
                    };
                }
                if (_response.error.reason === "status-code") {
                    switch (_response.error.statusCode) {
                        case 400:
                            throw new MyAccount.BadRequestError(
                                _response.error.body as MyAccount.ErrorResponse,
                                _response.rawResponse,
                            );
                        case 401:
                            throw new MyAccount.UnauthorizedError(
                                _response.error.body as MyAccount.ErrorResponse,
                                _response.rawResponse,
                            );
                        case 403:
                            throw new MyAccount.ForbiddenError(
                                _response.error.body as MyAccount.ErrorResponse,
                                _response.rawResponse,
                            );
                        case 429:
                            throw new MyAccount.TooManyRequestsError(
                                _response.error.body as MyAccount.ErrorResponse,
                                _response.rawResponse,
                            );
                        default:
                            throw new errors.MyAccountError({
                                statusCode: _response.error.statusCode,
                                body: _response.error.body,
                                rawResponse: _response.rawResponse,
                            });
                    }
                }
                return handleNonStatusCodeError(
                    _response.error,
                    _response.rawResponse,
                    "GET",
                    "/connected-accounts/connections",
                );
            },
        );
        const dataWithRawResponse = await list(request).withRawResponse();
        return new core.Page<
            MyAccount.ConnectedAccountConnection,
            MyAccount.ListConnectedAccountsConnectionsResponseContent
        >({
            response: dataWithRawResponse.data,
            rawResponse: dataWithRawResponse.rawResponse,
            hasNextPage: (response) =>
                response?.next != null && !(typeof response?.next === "string" && response?.next === ""),
            getItems: (response) => response?.connections ?? [],
            loadPage: (response) => {
                return list(core.setObjectProperty(request, "from", response?.next));
            },
        });
    }
}
